
<% if ! @anchor_dest.nil? %>
<script>
  window.location = window.location.href + "#<%= @anchor_dest %>";
</script>
<% end %>
	
<%# if ! flash[:error].nil? %>
	<% content_for :sidebar_left do %>
	   <a name= "search_conds" > </a>
	   <%= render 'layouts/search_conds'%>
	<% end %>
	
	
	<% content_for :search_results do %>
	   <a name= "search_results" > <h2><%= t :result_list_title %></h2> </a>
	   <%= render 'layouts/found_entities',  :perns => @Persons, :summ => @Summary  %>
	<% end %>
<%# end %>


<%if @Person.nil?%>
	<a name= "entity_details"> </a>
	<%= render 'layouts/entity_summary'%>
<%else%>
	<a name= "entity_details"> </a>
	<%= render 'layouts/entity_details'%>
<%end%>
