<%= form_tag 'loadsearch' do %>
<div class="row">
	    <% conds_array = @Conditions.map { |c| [c.name, c.id] } %>
		<%= select_tag "selected_cond", options_for_select(conds_array), html_options = {:size => 10} %>
	</div>
<%= button_tag "Загрузить", :name => 'commit', :value => 'load', :type => "submit", :class => "button small"  %>
<%= button_tag "Отменить",:name => 'commit', :value => 'cancel', :type => "submit", :class => "button small"  %>
<%end%>