<%= form_tag 'savesearch' do %>
<%= text_field_tag 'configname', 'введите имя для записи параметров'%>
		<%= button_tag "Сохранить...",:name => 'commit', :value => 'save', :type => "submit", :class => "button small"  %>	
		<%= button_tag "Отменить",:name => 'commit', :value => 'cancel', :type => "submit", :class => "button small"  %>
<%end%>