<h1>Listing entities</h1>
<h2>Total number of persons:<%= @persons.size %></h2>

<table>
  <tr>
    <th>URI</th>
  </tr>

<% @persons.each do |p| %>
  <tr>
    <td> <%= p.uri %> </td>
  </tr>
<% end %>
</table>

