<h4> Загрузить конфигурацию поиска </h4>
<div class="row">
	    <% conds_array = @Conditions.map { |c| [c.name, c.name] } %>
		<%= select_tag "selected_cond", options_for_select(conds_array), html_options = {:size => 10} %>
	</div>
<%= button_tag "Загрузить...", :name => 'commit', :value => 'load', :type => "submit", :class => "button small"  %>
<%= button_tag "Удалить...", :name => 'commit', :value => 'delconf', :type => "submit", :class => "button small"  %>

<%= button_tag "Отменить", :onclick => "$('#saveloadModal').foundation('reveal', 'close');", :class => "button small"  %>
