<h4> Сохранить текущую конфигурацию поиска</h4>
<%= text_field_tag 'configname', 'введите новое имя конфигурации для записи параметров'%>

<%= button_tag "Сохранить...", :name => 'commit', :value => 'save', :type => "submit", :class => "button small"  %>

<%= button_tag "Отменить", :onclick => "$('#saveloadModal').foundation('reveal', 'close');", :class => "button small"  %>
