<!DOCTYPE html>
<html>
  <head>
    <title>ИнфоПорт - справочная система поиска областей научных интересов</title>
    	<meta charset="utf-8" />
<link href="assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/foundation_and_overrides.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/jqcloud.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/select2.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/frontend.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/import.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/ports.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/scaffolds.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="assets/style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
	<script src="/assets/vendor/custom.modernizr.js?body=1" type="text/javascript"></script>
  </head>


  <body>
  	<div style="margin-left: 200px; margin-right: 200px; background: white;">
  		<center><h4> ИнфоПорт - справочная система поиска областей научных интересов </h4>
  		<img src="assets/infoport_large.png" alt="Инфопорт" >
  	  	<a href="frontend/index"> <button class="button round" style="width: 600px ">Начать работу c системой в тестовом режиме</button></a>
  	  	</center>
  		
  	</div>
  	
<script src="assets/jquery.js?body=1" type="text/javascript"></script>
<script src="assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="assets/select2.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.alerts.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.clearing.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.cookie.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.dropdown.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.forms.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.joyride.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.magellan.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.orbit.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.placeholder.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.reveal.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.section.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.tooltips.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/foundation.topbar.js?body=1" type="text/javascript"></script>
<script src="assets/foundation/index.js?body=1" type="text/javascript"></script>
<script src="assets/jqcloud.js?body=1" type="text/javascript"></script>
<script src="assets/frontend.js?body=1" type="text/javascript"></script>
<script src="assets/import.js?body=1" type="text/javascript"></script>
<script src="assets/ports.js?body=1" type="text/javascript"></script>
<script src="assets/application.js?body=1" type="text/javascript"></script>

<div id="splashModal" class="reveal-modal" style="width:590px" >

   <div style="float:left;font-size: 14pt; vertical-align: middle; text-align: center">
   <center>	<!-- %= image_tag "infoport_large.png", :width=>"80%", :height=>"80%" --> </center></div>
   <br>
  
  <p><center><%= image_tag "infoportfamily_large.png", :width=>"50%", :height=>"50%" %>
  	  <br><small>"ИнфоПорт - элемент комплекса семантических web-приложений НИУ ВШЭ-Нижний Новгород"</small>
  	  <br>
  	  <p>НИУ ВШЭ - Нижний Новгород</p>
  <p>2013г.</p>
  </center></p> 
  <a class="close-reveal-modal">&#215;</a>
</div>

<!--
<script>
	$('#splashModal').foundation('reveal', 'open');
	
</script>
-->

  </body>


</html>
