<div id="myModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
  <a href="#" onclick="$('#myModal').hide(); ">Close</a>
  <div id="ddd">TTTTT </div>
</div>
