
  #site_content { margin: 0px auto 0pt;
    padding: 25px;
    background: transparent url(transparent.png) repeat scroll 0% 50%;
    -moz-background-clip: initial;
    -moz-background-origin: initial;
    -moz-background-inline-policy: initial;
    width: 930px;
    overflow: hidden;
    }

  #sidebar_container { padding: 20px 5px 0pt 0pt;
    float: left;
    width: 224px;
    background: rgb(255, 255, 255);
    }
