<%# coding: utf-8 %>
 <div class="row">
 
 <h4 ><%= t :entity_details_title %></h2>
	
			<!-- PHOTO -->
			<div class="small-3 columns">
				<!-- div  style="width: 10px; height: 190px;" -->
				<% if @Person.img %>
				<a class="th radius" style=" height: 120px; width: 100px; background: url(<%= @Person.img %>) no-repeat center center; background-size: cover;" href="http://www.hse.ru/org/persons/<%= @Person.uri.split('#').last %>" />
									<!-- img src="<%= @Person.img %>" height="80" width="80" alt="Личное фото" -->
				<% end %>
				</a>
				<!-- /div -->
			</div>
			
			<div class="small-9 columns">
				<div class="panel radius" style="height: 120px"> 
					<a  class="link" style="text-decoration:underline" href="http://www.hse.ru/org/persons/<%= @Person.uri.split('#').last %>" >
							<bold> <%= "#{@Person.lastname} #{@Person.firstname} #{@Person.middlename}" %> </bold>
					</a>		
							<br>
							<% @Person.units.each do |u| %>
			      				<%= u %> <br>
			    			<% end%>
			    </div>			
		   </div>
		
<div class="small-12 columns">
	<div class="panel radius"> <h4 class="subheader"><%= t :entity_details_taxonomy_title %></h2>			
				<%= select_tag "found_entities", options_for_select(@Person.taxo_topics), html_options = {:size => 5} %>
	</div>
</div>

	<div class="small-12 columns">
	  
			<!-- KEYWORDS CLOUD -- BEGIN -->
	     	<div class="panel radius"> 
				<h4 class="subheader"> <%= t :entity_details_keys_title %></h2>
				<div class="panel radius"  id="cloud_container" style=" width: 107%; height: 500px;"> </div>
			</div>	
					  <script type="text/javascript" id ="keyscloud" >
				      /*!
				       * Create an array of word objects, each representing a word in the cloud
				       */
				      
				      	var word_array = [
				     
				     <% if  ! @Person.keywords.nil? %>
					      <% @Person.keywords.each_with_index do |k, i| %>
					      		{text: "<%= k %> ", weight: 1,  link:"<%= frontend_get_linked_by_keys_path %>?q=<%=k%>", html: { style: "font-size: 9pt" }   }
					      		<% if i != @Person.keywords.size - 1 %>
					      		,
					      		<% end %>
					      <% end %>
				      <% end %>
				          // ...as many words as you want
				      ];

					 $("#cloud_container").jQCloud(word_array);
					 
					 
				     // $(function() {
				
				        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
				     //   if (typeof word_array === "undefined") {} else { $("#cloud_container").jQCloud(word_array); } 
				        //$("#cloud_container").jQCloud(word_array);
				   //   });
				    </script> 
   </div>


		<!-- KEYWORDS CLOUD -- END -->
		
	<div class="small-12 columns">
			   
				<!-- TIME LINE PERIOD SELECTION --> 
				<%if @StartDateSelector.nil? %>
					<% @StartDateSelector = Date.today %>
				<%end%>
				<%if @EndDateSelector.nil? %>
					<% @EndDateSelector = (Date.today + 1) %>
				<%end%>
																
				<%= form_tag 'show_timeline' do %>
				<h4 class="subheader"><%= t :entity_details_timeline_title %></h4>
				<div class="small-4 columns"><label for="start_month" style= " width: 150px " ><%= t :entity_details_timeline_start_msg %></label> 
					<input name ="start_date" value ="<%= I18n.l(@StartDateSelector) %>" type="date" style= " width: 130px " /></div>
				<div class="small-4 columns"><label for="end_month"><%= t :entity_details_timeline_end_msg %></label> 
					<input name ="end_date" value ="<%= I18n.l(@EndDateSelector) %>" type="date" style= " width: 130px " /></div>	
				<%= hidden_field_tag "personuri", @Person.uri %>
				<div class="small-4 columns"><%= submit_tag t(:entity_details_timeline_button_update), :class => "button round"  %></div>
				<% end %>	
		     
	</div>	
		<div class="small-12 columns">
			   			<% if @K_int_TimeLine.present? %>
						<div class="panel radius">
								<%= render 'layouts/keywords_timeline',  :timeline => @K_int_TimeLine, :startdate => @StartDateSelector, :enddate => @EndDateSelector %>
						</div>
						<%end%>
		</div>				
				
		
</div>	




		<!-- TAGS CLOUD --> 
					<!--      
			        {text: "Lorem", weight: 13, link: "https://github.com/lucaong/jQCloud"},
			        {text: "Ipsum", weight: 10.5, link: "http://jquery.com/"},
			        {text: "Dolor", weight: 9.4},
			        {text: "Sit", weight: 8},
			        {text: "Amet", weight: 6.2},
			        {text: "Consectetur", weight: 5},
			        {text: "Adipiscing", weight: 5},
			        {text: "Elit", weight: 5},
			        {text: "Nam et", weight: 5},
			        {text: "Leo", weight: 4},
			        {text: "Sapien", weight: 4, link: "http://www.lucaongaro.eu/"},
			        {text: "Pellentesque", weight: 3},
			        {text: "habitant", weight: 3},
			        {text: "morbi", weight: 3},
			        {text: "tristisque", weight: 3},
			        {text: "senectus", weight: 3},
			        {text: "et netus", weight: 3},
			        {text: "et malesuada", weight: 3},
			        {text: "fames", weight: 2},
			        {text: "ac turpis", weight: 2},
			        {text: "egestas", weight: 2},
			        {text: "Aenean", weight: 2},
			        {text: "vestibulum", weight: 2},
			        {text: "elit", weight: 2},
			        {text: "sit amet", weight: 2},
			        {text: "metus", weight: 2},
			        {text: "adipiscing", weight: 2},
			        {text: "ut ultrices", weight: 2},
			        {text: "justo", weight: 1},
			        {text: "dictum", weight: 1},
			        {text: "Ut et leo", weight: 1},
			        {text: "metus", weight: 1},
			        {text: "at molestie", weight: 1},
			        {text: "purus", weight: 1},
			        {text: "Curabitur", weight: 1},
			        {text: "diam", weight: 1},
			        {text: "dui", weight: 1},
			        {text: "ullamcorper", weight: 1},
			        {text: "id vuluptate ut", weight: 1},
			        {text: "mattis", weight: 1},
			        {text: "et nulla", weight: 1},
			        {text: "Sed", weight: 1}
			-->        		

		
