<div class="row">

		<h4 class="subheader"><%= t :summary_title %></h4>		
			<!-- SORTED KEYWORDS WITH OCCURENCIES-->
	
<% if @Summary.present? %>
<%= t :summary_satisfied_msg_prefix %> <%= @EntityCount %> <%= t :summary_satisfied_msg_suffix %>
	<table>
		<% @Summary["hist"].each do |s| %>
			<% if !s[:l].nil? %>
			<tr> <td> <a  href="<%= frontend_get_linked_by_keys_path %>?q=<%= s[:l] %>">   <%= s[:l] %>  </a>  </td><td><%= s[:lC] %></td></tr>
			<%end%>
		<%end%>
	</table>
<%end%>
</div>