<%# this is a partial for listing found entities %>



<%#= @e_libkeys %>

<%#= @query_text %>

<%= form_tag 'sel_details' do %>
<div class="row">
	<div class="small-11  columns">	
		<%if perns.present?%>
	    	<% persons_array = perns.map { |p| ["#{p.lastname} #{p.firstname} #{p.middlename}", p.uri] } %>
	    <%else%>
	    	<% persons_array = [] %>
	    <%end%>
		<%= select_tag "found_entities", options_for_select(persons_array), html_options = {:size => 10} %>
	</div>
	<div class="small-1  columns">
		<% if @EntityCount > Infoport::Application.config.found_entities_per_page  %>			    
		    <% if @CurrentPage > 1 %>
		     <%= button_tag "<", :name => 'commit', :value => 'prevpage', :type => "submit", :class => "button small", :style => "width:10px;"  %>
		    <% end %>
		    
		    <% if @CurrentPage * Infoport::Application.config.found_entities_per_page < @EntityCount %>
			    <%= button_tag ">", :name => 'commit', :value => 'nextpage', :type => "submit", :class => "button small", :style => "width:10px;"  %>
			<%end %>	    	
		<%end %>
	</div>
</div>  
  <div class="row">
  	  <div class="small-2  columns"> 
	  <%= button_tag t(:result_list_button_details),:name => 'commit', :value => 'details', :type => "submit", :class => "button round"  %>
	  </div>
	  
	  <div class="small-5  columns"/>
	  
	  <div class="small-2  columns"> 
	  <%= button_tag t(:result_list_button_summary),:name => 'commit', :value => 'summary', :type => "submit", :class => "button round"  %>
	  </div>
	  <div class="small-1  columns"/>
	  
  </div>
<% end %>
