
<% if timeline.present? %>
<% last_value = "" %>
<% events_count = 0 %>

<table width="100%">
	<tr><td width="20%"></td><td width="80%"><div style = "text-align:left; vertical-align:center; height: 10px; float:left">
		<%= I18n.l (startdate) %></div> <div style = " vertical-align: center; height: 10px; float:right; text-align:right "><%= I18n.l(enddate) %></div></td></tr>
    <% timeline.each do |k| %>
		<%if last_value != k[:value] %>
		    <% if last_value != "" %></div></td></tr> <% end %>
		    <% last_value = k[:value] %>
		    <%# events_count = 0 %>
		    <tr><td width="20%"><div style="height: 50px; overflow: hidden"><small><%=k[:value]%>|  <%=k[:start]%> | <%=k[:end]%> </small></div></td>
		    <td width="80%" height="20px"> <div style="height: 50px; width:100%; position:relative">
    	<%end %>
    	<div align="left" name="l1" style = " background-color:#e<%= (99989 + events_count* 3).to_s(16) %>; width: <%= (k[:end] - k[:start]) * 3 %>px; height: 5px; position:absolute; left:<%=k[:start] * 3 %>px; top:25px" >
			<!-- img style = "height:4px; width:50px" src = "/assets/scale_b.png" #003366 / --> 
		</div>	
		<% events_count = events_count + 1 %>
    <% end %> 
</table>
<%end%>

