<!--
<nav> 
	
	
<div id= "nav_user" >
        <%# if user_signed_in? %>
          Logged in as <strong><%#= current_user.email %></strong>.
          <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%#= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link'  %>
        <%# else %>
          <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <%# end %>
</div>
-->

<nav class="top-bar">
<!-- ul class="title-area" -->
    <!-- Title Area -->
    <!--
    <li class="name">
      <h1><a href="#">Top Bar Title </a></h1>
    </li>
    -->
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!-- li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
-->

<section class="top-bar-section" >

    <!-- Left Nav Section -->
    <ul class="left">		 
      <li class="divider"> </li>
      <li class="active">  <%= link_to t(:menu_home) , :controller => 'frontend', :action=>'index'%></li>
      <li class="divider"></li>
      <li class="inactive"><a href="#"><%= t :menu_settings %></a></li>
      <li class="divider"></li>
      <li class="active"> <%= link_to t(:menu_about) , '#', "data-reveal-id" => "aboutModal" %> </li>
    <ui/>
</section>
</nav>

<div id="aboutModal" class="reveal-modal" style="width:590px" >

   <div style="float:left;font-size: 14pt; vertical-align: middle; text-align: center">
   <center>	<%= image_tag "infoport_large.png", :width=>"80%", :height=>"80%" %></center></div>
   <br>
  
  <p><center><%= image_tag "infoportfamily_large.png", :width=>"50%", :height=>"50%" %>
  	  <br><small>"ИнфоПорт - элемент комплекса семантических web-приложений НИУ ВШЭ-Нижний Новгород"</small>
  	  <br>
  	  <p>НИУ ВШЭ - Нижний Новгород</p>
  <p>2013г.</p>
  </center></p> 
  <a class="close-reveal-modal">&#215;</a>
</div>