<%# this is a partial for search conditions %>



<!--- -->
<!-- format START -->
<script type="text/javascript" id="search_cond"> 
 
    function movieFormatResult(movie) {
        var markup = "<table class='movie-result'><tr>";
      
      //  if (movie.posters !== undefined && movie.posters.thumbnail !== undefined) {
      //      markup += "<td class='movie-image'><img src='" + movie.posters.thumbnail + "'/></td>";
      //  }
      //  markup += "<td class='movie-info'><div class='movie-title'>" + movie.title + "</div>";
      //  if (movie.critics_consensus !== undefined) {
      //      markup += "<div class='movie-synopsis'>" + movie.critics_consensus + "</div>";
      //  }
      //  else if (movie.synopsis !== undefined) {
      //      markup += "<div class='movie-synopsis'>" + movie.synopsis + "</div>";
      //  }
       
        markup += "<td>aaaa</td></tr></table>"
        return markup;
    }
 
    function movieFormatSelection(movie) {
        return "aaaaa" ; //movie.title;
    }
 
 
 $(document).ready (function() {
 
 	$('#newkey').select2({
    placeholder: "введите слово",
    minimumInputLength: 1,
    ajax: { url: "<%= frontend_keys_path %>.json",
            dataType: 'json',
            data: function (term, page) {
              return {
		                key_pattern: term, // search term
		                page_limit: 10 
		             };
        },
        results: function (data, page) { // parse the results into the format expected by Select2.
            // since we are using custom formatting functions we do not need to alter remote JSON data
            return {results: data.keys, more: false};
        }
    },
    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
});
});
 </script>
<!-- END -->

<%= form_tag 'search' do %>

<%= button_tag t(:search_panel_button_search),:name => 'commit', :value => 'search', :type => "submit", :class => "button round" , :style => "width:210px" %>

<%= field_set_tag t(:search_panel_keywords) do %>
	<input name="newkey" type="text" class="bigdrop" id="newkey" style="width:180px" value=""/>	
	<%#= text_field_tag 'newkey', 'Новое слово...' %>
	<%#= submit_tag 'Добавить', :value => 'keyadd', :class => "button small"  %>
	<%= button_tag t(:search_panel_button_keyadd), :name => 'commit', :value => 'keyadd', :type => "submit", :class => "button small"  %>
	<div>
		<small><%= t :search_panel_keyused %></small>
		<%= select_tag "keys", options_for_select(@keys), html_options = {:size => 4, :multiple => true } %>
	    <%#= submit_tag "Удалить", :value => 'keysdell', :class => "button small"  %> 
	    <%= button_tag t(:search_panel_button_keydel),:name => 'commit', :value => 'keysdell', :type => "submit", :class => "button small"  %>
	<div>
<% end %>

<% str = Taxonomy.instance.getTaxonomy %>
<%if str != nil %>
	<%= field_set_tag t(:search_panel_taxonomy) do %>
	<%# TODO  implement dynamic creation based on the datastorage %>
	
	
		<%= select_tag "new_e_libkey", options_for_select(str) %>
		<%#= submit_tag 'Добавить', :value => 'e_lib_keyadd', :class => "button small"  %> 
		<%= button_tag  t(:search_panel_button_topicadd),:name => 'commit', :value => 'e_lib_keyadd', :type => "submit", :class => "button small"  %>
		
		<div>
			<small><%= t :search_panel_topicused %></small>
			<%if Taxonomy.instance.getTaxonomy.present? && 	@e_libkeys.present? %>
				<% e_lib_array = Taxonomy.instance.getTaxonomy.select{|key, hash| @e_libkeys.include?(hash) } %>
			<% else %>
				<% e_lib_array = [] %>			
			<% end %>
			
			<%= select_tag "e_libkeys", options_for_select(e_lib_array), html_options = {:size => 4, :multiple => true } %>
	    	<%#= submit_tag "Удалить", :value => 'e_libkeysdell', :class => "button small"  %>
		    <%= button_tag t(:search_panel_button_topicdel),:name => 'commit', :value => 'e_lib_keysdel', :type => "submit", :class => "button small"  %>
		
		</div>
	<%end%>
<%end%>
	
<% str = Organization.instance.getOrganization %>
<% if str != nil %>	
	<%= field_set_tag t(:search_panel_search_level) do %>
			<%# TODO implement JS-based dynamic creation from data storage as it was suggested at http://pullmonkey.com/2008/03/30/dynamic-select-boxes-ruby-on-rails/ %>
			
			<%= select_tag "org_level", options_for_select(str, @org_level) %>
	<% end %>
<% end%>

	<%= button_tag t(:search_panel_button_search),:name => 'commit', :value => 'search', :type => "submit", :class => "button round" , :style => "width:210px" %>

	<div id="saveloadModal" class="reveal-modal" style="width:590px">
 		  <a class="close-reveal-modal">&#215;</a>
				  <div id="saveload_content"> </div>
	</div>
	
<% end %>

<div>
	<center>
	<%= link_to "<button class='button small'>#{I18n.t(:search_panel_save)}</button>".html_safe, 
    { :controller =>:dyninterface, :action=>:showsave }, "data-reveal-id" => "saveloadModal", :remote => true, :type => "button" %>	

	<%= link_to "<button class='button small'>#{I18n.t(:search_panel_load)}</button>".html_safe, 
    { :controller =>:dyninterface, :action=>:showload }, "data-reveal-id" => "saveloadModal", :remote => true, :type => "button" %>	
</center>
</div>	

 
