<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<meta http-equiv="X-UA-Compatible" content="IE=7" /> 
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=2.0" />
	 <title>  <%= content_for?(:title) ? yield(:title) : "Untitled" %> </title> 
   
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= javascript_include_tag "application" %>

	<div id="main">
	<%= render 'layouts/header'%>
	</div>
	<%= render 'layouts/navig'%> 	
		

<div class="small-12 columns">
	<% if flash[:alert].present? %>
			<div class="alert-box alert"><%= flash.alert %></div>
	<%end%>
	<% if flash[:notice].present? %>
			<div class="alert-box success"><%= flash[:notice] %></div>
	<%end%>
</div>

<!-- Content here -->
 <section id="mainContent" class="example">
<div class="row">

	<div class="small-4 columns">
	<div class="panel">
			<div id="sidebar_container1">
				<div class="sidebar1">
					<%= yield :sidebar_left %>
				</div>
		    </div>
	</div>
	</div>
	
	
	<div class="small-8 columns">
	<div class="row"> 
		<div class="panel radius">	
			<div class="content1"> <%= yield :search_results %> </div>
		</div>	
	</div>	 
	
	
	<div class="panel radius"> <%= yield %> </div>
	
	
	
	</div>
  </div>
 
</section>

<!-- Footer here --> 
<div class="row">
	 <%= render 'layouts/footer'%>
</div>
</body>
</html>